In [29]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [30]:
df=pd.read_csv("Student_Performance.csv")
df.head()

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced,Performance Index
0,7,99,Yes,9,1,91.0
1,4,82,No,4,2,65.0
2,8,51,Yes,7,2,45.0
3,5,52,Yes,5,2,36.0
4,7,75,No,8,5,66.0

In [33]:
yes=df["Extracurricular Activities"]=="Yes"
no=df["Extracurricular Activities"]=="No"
df.loc[yes,"Extracurricular Activities"]=1
df.loc[no,"Extracurricular Activities"]=0
df

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced,Performance Index
0,7,99,1,9,1,91.0
1,4,82,0,4,2,65.0
2,8,51,1,7,2,45.0
3,5,52,1,5,2,36.0
4,7,75,0,8,5,66.0
...,...,...,...,...,...,...
9995,1,49,1,4,2,23.0
9996,7,64,1,8,5,58.0
9997,6,83,1,8,5,74.0
9998,9,97,1,7,0,95.0
9999,7,74,0,8,1,64.0

In [34]:
column_names=[col for col in df.columns]

In [36]:
model=LinearRegression()
model.fit(df[column_names[:-1]],df["Performance Index"])

LinearRegression()

In [37]:
model.coef_

array([2.85298205, 1.01843419, 0.61289758, 0.48055975, 0.19380214])

In [38]:
model.intercept_

-34.075588091913616

In [40]:
test=pd.read_csv("test.csv")

In [41]:
yes=test["Extracurricular Activities"]=="Yes"
no=test["Extracurricular Activities"]=="No"
test.loc[yes,"Extracurricular Activities"]=1
test.loc[no,"Extracurricular Activities"]=0
test

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced
0,7,99,1,9,1
1,4,82,0,4,2
2,8,51,1,7,2
3,5,52,1,5,2
4,7,75,0,8,5
5,3,78,0,9,6
6,7,73,1,5,6
7,8,45,1,4,6
8,5,77,0,8,2
9,4,89,0,4,0
10,8,91,0,4,5
11,8,79,0,6,2
12,3,47,0,9,2

In [44]:
test["Predicted Performance Index"]=model.predict(test)
test

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced,Predicted Performance Index
0,7,99,1,9,1,91.852009
1,4,82,0,4,2,63.157787
2,8,51,1,7,2,45.052832
3,5,52,1,5,2,36.551201
4,7,75,0,8,5,67.091339
5,3,78,0,9,6,59.409076
6,7,73,1,5,6,64.419492
7,8,45,1,4,6,38.275756
8,5,77,0,8,2,62.840837
9,4,89,0,4,0,69.899222
10,8,91,0,4,5,84.317030
11,8,79,0,6,2,72.475532
12,3,47,0,9,2,27.062407